.mahbobtarin{
    width: 70%;
    height: 225px;
    border: 0.5px solid lightgray   ;
    border-radius: 15px;
    padding: 24px 0px;

.mahbobtarin__up{
    display: flex;
    flex-flow: row;
    justify-content: center;
    column-gap: 20px;
    
    img{

    }
    h3{
        font-family: iranyekan;
        text-align: center;
        color: #000021;
        font-size: 20px;
    }
}
.mahbobtarin__down{
    height: 142px;
    background-color: lightgray;
    margin-top: 13px;
    object-fit: cover;

    img{
    width: 110px;
    height: 110px;
    

}


    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
      display: block;
     
    }





}


}